.some-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
@media screen and (max-width: 600px) {
  /* .some {
    width: 100%;
    margin: 10px 0;
  }
  .some-img {
    width: 100px;
  } */
}